<div id="landing" class="container-fluid">
  <!-- i think i'll have this randomly pick a flower and show a preview of it
  or, maybe i could show the top 4 or 5
  <div class="row">
    <div class="col-md-6 landing_tile" ng-click="la_ctrl.viewFlower(la_ctrl.flowers[0].id)">
      <img ng-src="{{api_url + la_ctrl.flowers[0].image.url}}">
      <p>{{la_ctrl.flowers[0].name}}</p>
      <p>{{la_ctrl.flowers[0].price | currency}}</p>
    </div>
    <div class="col-md-6 landing_tile" ng-click="la_ctrl.viewFlower(la_ctrl.flowers[1].id)">
      <img ng-src="{{api_url + la_ctrl.flowers[1].image.url}}">
      <p>{{la_ctrl.flowers[1].name}}</p>
      <p>{{la_ctrl.flowers[1].price | currency}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 landing_tile" ng-click="la_ctrl.viewFlower(la_ctrl.flowers[2].id)">
      <img ng-src="{{api_url + la_ctrl.flowers[2].image.url}}">
      <p>{{la_ctrl.flowers[2].name}}</p>
      <p>{{la_ctrl.flowers[2].price | currency}}</p>
    </div>
    <div class="col-md-6 landing_tile" ng-click="la_ctrl.viewFlower(la_ctrl.flowers[3].id)">
      <img ng-src="{{api_url + la_ctrl.flowers[3].image.url}}">
      <p>{{la_ctrl.flowers[3].name}}</p>
      <p>{{la_ctrl.flowers[3].price | currency}}</p>
    </div>
  </div> -->
  <div class="splash_wrapper">
    <img class="landing_splash" src="assets/images/garden.jpg">
  </div>
  <h2>Welcome to the Flower Store</h2>
  <h2>Click browse to start looking at our selection, or hit sign up to create and account</h2>
</div>