#header {
  background: #48c0c0;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 5px; }
  #header span .header_link {
    text-align: right; }
  #header .header_link {
    color: #0a9595;
    cursor: pointer; }
    #header .header_link.header_title {
      color: #a6ecec; }
    #header .header_link p {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 10px; }
    #header .header_link p:hover, #header .header_link h3:hover {
      text-decoration: underline; }
