#landing .landing_tile {
  border: 1px solid #f8ab12;
  background: #ffe6b3;
  border-radius: 6px; }

#landing .splash_wrapper {
  height: 350px;
  overflow-y: hidden; }
  #landing .splash_wrapper img {
    max-width: 100%; }
